:root {
	--preview-background-color: white;
	--preview-text-color: black;
	--preview-font-family: inherit;
	--preview-link-color: blue;
}

.article-preview {
	background-color: var(--preview-background-color);
	color: var(--preview-text-color);
	font-family: var(--preview-font-family);
	
	a {
		color: var(--preview-link-color);
	}

}
